.questionnaire{
    padding: 60px 0;
}
.questionnaire .conteiner .row{
    display: flex;
    justify-content: center;
}
.accordion{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.acc{
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.accordion-head{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}
.accordion-title{
    font-weight: bold;
    margin-bottom: 0;
}
.acc-plus, .acc-minus{
    margin-right: 20px;
    color: #1E89F4;
}
.acc-minus{
    display: none;
}
.accordion-body{
    height: 0;
    font-size: 15px;
    background-color: #f8f8f8;
    overflow: hidden;
}
.accordion-text{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.accordion-head-text{
    display: flex;
    flex-direction: column;
}
.accordion-client-info{
    display: flex;
    margin-bottom: 5px;
}
.accordion-name, .accordion-date{
    margin-right: 10px;
    font-size: 12px;
    font-style: italic;
}
.show{
    display: none;
}
.question-form{
    padding: 60px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}
.question-form .container .row{
    display: flex;
    justify-content: center;
}
.question-form .container .row form{
    padding: 20px;
}